[Unit]
Description=Wifi API service

[Service]
ExecStart=/usr/local/bin/node /home/pi/M300/wifi_ctrl/index.js
WorkingDirectory=/home/pi/M300/wifi_ctrl
StandardOutput=inherit
StandardError=inherit
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target

